<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="layout/main.html">
<div layout:fragment="akseleuFragment">
    <div class="row">
        <div class="col-12">
            <h1>Admin Panel</h1>
            <p>Welcome, Admin!</p>

            <div class="row mt-4">
                <div class="col-md-4">
                    <div class="card text-center">
                        <div class="card-body">
                            <h5 class="card-title">User Management</h5>
                            <p class="card-text">Manage users and roles.</p>
                            <a href="#" class="btn btn-primary">Go to Users</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</html>